body {
  font-family: 'Playfair Display', 'Roboto', serif;
  background: linear-gradient(160deg, #007bff 24%, white 0);
  margin: 34px;
  font-size: 2rem;
}

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  margin-top: 6rem;
}
.profile-header {
  background-image: url(./images/header.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 110vh;
  font-size: 2.4rem;
  color: white;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.white-text {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.about-me {
  line-height: 2rem;
}

.description {
  font-weight: 500;
  font: 'Roboto';
  color: #333333;
  line-height: 3.5rem;
  margin: 0 20px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  margin: 4rem 1rem;
}
.icon {
  font-size: 6rem;
  height: 6rem;
  transition: transform 0.5s linear;
}

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* COLOR PALLETTE
Primary Color: #007BFF (Shades of blue often evoke trust and professionalism.)

Secondary Color: #FF6B6B (A vibrant red can add energy and contrast.)

Accent Color: #4CAF50 (A fresh green can represent growth and positivity.)

Background Color: #F5F5F5 (A light gray provides a clean and neutral backdrop.)

Text Color: #333333 (A dark gray for text readability.)

Highlight Color: #FFD700 (A warm yellow for highlighting important elements.)

Call to Action Color: #FF5722 (An attention-grabbing orange for buttons and links.)
*/
